<div class="col">
  <div class="product-card shadow">
    <div class="product-card__name">{{ product.name }}</div>
    <div class="product-card__price">&#36;{{ product.price }}</div>

    <button class="action-button product-card__action-button" (click)="addToCart(product)">Add to cart</button>
  </div>

</div>
