.product-card {
  background: #f5f5f6;
  border-radius: 3px;
  padding: 15px;
  width: 250px;
  height: 100px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.product-card__action-button {
  margin-top: 30px;
}
