<section class="login">
  <div class="login-form shadow">
    <div class="login-form__group" [formGroup]="signInForm">

      <div class="login-form__content">
        <label class="login-form__label">Email</label>
        <input type="text" formControlName="email" class="login-form__input shadow">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.minlength">
            Email must be at least 4 characters long.
          </div>
          <div *ngIf="email.errors.email">
            Email is invalid.
          </div>
        </div>

      </div>

      <div class="login-form__content">
        <label class="login-form__label">Password</label>
        <input type="password" formControlName="password" class="login-form__input shadow">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
        </div>
      </div>

      <button class="action-button login-form__action-button" (click)="signIn(signInForm)">Sign In</button>
    </div>
  </div>
</section>
