.login-form {
  padding: 15px;
  background: #f5f5f6;
  border-radius: 3px;
  width: 30%;
  margin: 0 auto;
}

.login-form__group {
  width: 60%;
  margin: 0 auto;
}


.login-form__label {
  color: #9e9e9e;
  font-size: .8rem;
  font-family: sans-serif;
  display: inline-block;
  margin-bottom: 5px;
}

.login-form__input {
  display: block;
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.login-form__action-button {
  margin-top: 10px;
}
