.cart {
  margin-bottom: 60px;
}

.cart-list-item {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

.cart-list-item .item-name {
  max-width: 200px;
  font-size: 18px;
  font-weight: 600;
}

.cart-list-item .item-price {
  padding-left: 15px;
}

.total-price-header {
  margin-bottom: 20px;
}

.currency-type {
  cursor: pointer;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.currency-type:hover {
  background: #d2ffd6;
}

.currency-type.selected {
  background: #b4ffba;
}

.cart-list-buy h3 {
  font-family: sans-serif;
  letter-spacing: 2.3px;
}

.cart-actions {
  margin-top: 40px;
}

.cart-actions .clear-cart {
  margin-right: 40px;
}

button.buy-cart:disabled {
  filter: opacity(0.5);
}

button.buy-cart:disabled:hover {
  pointer-events: none;
}
