<section class="cart container">
  <div class="row">
    <div class="col">
      <div class="cart-title">
        <h2>Cart ({{shopService.selectedProductsSource.value.length}})</h2>
        <ng-container *ngIf="shopService.selectedProductsSource.value.length === 0">
          <h4>Cart is empty</h4>
        </ng-container>
      </div>
      <div class="cart-list">
        <div class="cart-list-item" *ngFor="let product of shopService.selectedProducts$ | async">
          <div class="item-name">{{ product.name }}</div>
          <div class="item-price"><span>price: </span>&#36;{{ product.price }}</div>
        </div>
      </div>
      <hr>
      <div class="cart-total-price" *ngIf="shopService.selectedProductsSource.value.length > 0">
        <div class="total-price-header"><h3>Total:</h3></div>
        <div class="currency-type shadow"
             *ngFor="let currency of currencyConvertTo"
             [class.selected]="currency === selectedCurrency"
             (click)="onSelectCurrencyType(currency, getConvertedPrice(currency))">
          <div class="currency-name">{{ currency }}: </div>
          <div class="converted-price">{{ getConvertedPrice(currency) }}</div>
        </div>
      </div>

      <div class="cart-list-buy" *ngIf="totalPrice">
        <h3>Your total is {{ totalPrice | currency: selectedCurrency }}</h3>
      </div>

      <div class="cart-actions" *ngIf="shopService.selectedProductsSource.value.length > 0">
        <button (click)="clearCart()"
                class="btn btn-raised clear-cart">Clear Cart</button>
        <button (click)="buyProducts()" [disabled]="!totalPrice"
                class="btn btn-raised buy-cart">Buy</button>
      </div>
    </div>
  </div>
</section>
