<div class="app-navbar">
  <div class="shop-name">
    Grocery Store
  </div>
  <nav class="navigation">
    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
    <a routerLink="/shop" routerLinkActive="active" class="nav-link">Shop</a>
    <a routerLink="/cart" routerLinkActive="active" class="nav-link">
      Cart ({{shopService.selectedProductsSource.value.length}})
    </a>
  </nav>
</div>
