.app-navbar {
  height: 90px;
  background: #e2f1fc;
  padding: 0 40px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.shop-name {
  font-size: 28px;
  font-family: cursive;
}

.nav-link {
  margin-right: 20px;
  font-size: 24px;
  font-family: monospace;
  text-decoration: none;
  color: #333;
}

.nav-link.active {
  border-bottom: 1px solid #333;
}
