body {
  padding: 0;
  margin: 0;
  background: #e1e2e1;
}

.shadow {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2)
}

.container {
  margin: 0 40px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.action-button {
  color: #f5f5f6;
  background: #15759a;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  box-shadow: 2px 2px 3px -3px rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.14), 0 4px 7px 0 rgba(0,0,0,.12);
  transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.action-button:hover {
  background: #276882;
  transition: background-color ease-in-out .25s;
}

.alert.alert-danger {
  margin-bottom: 3px;
  margin-left: 5px;
  color: #d32f2f;
  font-family: sans-serif;
  font-size: 14px;
}

